<div class="uk-container">
    <nav class="uk-navbar">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">Meus Pets</li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                        Adicionar
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="uk-container">
    <div class="uk-grid">
        <div class="uk-width-1-3">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">         <!-- Colocar imagem dentro do card -->
                    <br>
                    <p class="uk-text-center">
                        <img src="https://via.placeholder.com/150" class="uk-border-circle" alt="">
                    </p>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-itle">Media Top</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>
                        <a href="#" class="uk-button uk-button-default">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
                            Editar
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">         <!-- Colocar imagem dentro do card -->
                    <br>
                    <p class="uk-text-center">
                        <img src="https://via.placeholder.com/150" class="uk-border-circle" alt="">
                    </p>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-itle">Media Top</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>
                        <a href="#" class="uk-button uk-button-default">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
                            Editar
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>